<h1 class="mt-5">Development</h1>

<p class="lead">
  With over 20 year's experience, So Long prides itself on providing bespoke software development services to small
  and medium sized businesses to solve the technical challenges of the day.
</p>

<div class="container">
  <hr class="mt-5 mb-5"/>
  <div class="row">
    <div class="col-xl-5 col-lg-4">
      <img src="assets/img/switch.jpg" class="img-fluid img-thumbnail rounded" alt="Responsive image">

    </div>
    <div class="col-xl-7 col-lg-8">
      <h3 class="display-4">
        Agile Delivery
        <small class="text-muted">Agile Product</small>
      </h3>

      <p>We cover all aspects of Software Engineering, using an iterative design approach to continuously deliver
        user requirements to production. Continuous Integration and Continuous Delivery are at the heart of what we do.
        With our 'Automate First' philosophy and transparency around the quality and speed of our delivery, you can rely
        on our iterative delivery schedule.
      </p>

    </div>

  </div>
  <hr class="mt-5 mb-5"/>
  <div class="row">

    <div class="col-xl-8 col-lg-8 order-lg-1">
      <h3 class="display-4">
        Clean Code
        <small class="text-muted">Clean Design</small>
      </h3>

      <p>Our developers are passionate about writing clean, secure code with architectures that scale on
        demand and stand the test of time. We believe that clean code results in fewer bugs, and a Clean Architecture is
        a prerequisite to a Secure Implementation. With security centre stage via our Managed Build offering,
        vulnerability reports are
        securely delivered even after the product has shipped to mitigate against the ever growing myriad of cyber
        threats.</p>
    </div>
    <div class="col-xl-4 col-lg-4 order-first order-lg-2 align-items-end">
      <img src="assets/img/mechanical_keyboard.jpg" class="img-fluid img-thumbnail rounded" alt="Responsive image">
    </div>
  </div>
  <hr class="mt-5 mb-5"/>
  <div class="row">
    <div class="col-lg-4">
      <img src="assets/img/network.jpg" class="img-fluid img-thumbnail rounded" alt="Responsive image">

    </div>
    <div class="col-lg-8">
      <h3 class="display-4">
        Cloud Native
        <small class="text-muted">Cloud Nimble</small>
      </h3>

      <p>We design our products to be Cloud Native from inception, enabling you to realize efficiency gains and reduce
        Total Cost of Ownership. With industry cloud platforms constantly changing, it is now more important than every
        to
        safeguard your IT investments by ensuring
        your products and customer data can be migrated with ease and evolve gracefully with the latest trends in
        technology.</p>
    </div>

  </div>
</div>

