<h1 class="mt-5">Open Source</h1>
<p class="lead">We are passionate about open source software. Over the years we have developed a number of libraries and utilities
  which have been made freely available, together with their source code, at no charge.</p>
<p>Our showcase below demonstrates some of our more popular contributions
which have benefited various internet communities.</p>
<div class="container">

<div class="row">
  <div class="col-sm-6 d-flex align-items-stretch">
    <div class="card h-100 w-100">
      <img class="card-img-top" src="/assets/img/github.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">HelmGap</h5>
        <p class="card-text">Create Image Archives from Helm Charts for Air-Gapped environments.</p>
        <a href="https://github.com/danielburrell/helmgap" class="btn btn-primary">Github</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 d-flex align-items-stretch">
    <div class="card h-100 w-100">
      <img class="card-img-top" src="/assets/img/github.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">GitLab Release Maven Plugin</h5>
        <p class="card-text">A maven plugin for attaching binary artefacts to gitlab releases</p>
        <a href="https://github.com/danielburrell/gitlab-release-maven-plugin" class="btn btn-primary">Github</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 d-flex align-items-stretch">
    <div class="card h-100 w-100">
      <img class="card-img-top" src="/assets/img/github.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Steam4j</h5>
        <p class="card-text">An elegant Steam API client library for Java</p>
        <a href="https://github.com/danielburrell/steam4j" class="btn btn-primary">Github</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 d-flex align-items-stretch">
    <div class="card h-100 w-100">
      <img class="card-img-top" src="/assets/img/github.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Collections</h5>
        <p class="card-text">A supplement to the Java Collections library.</p>
        <a href="https://github.com/danielburrell/collections" class="btn btn-primary">Github</a>
      </div>
    </div>
  </div>
</div>
</div>
