<h1 class="mt-5">Legal</h1>

Your privacy is important to us. You can learn more about our privacy policy below. You can also view the Terms and Conditions
 for using our website and an overview of our trademarks. For all enquiries please contact legal@solong.co.uk
<hr/>
<p>For reference <strong>So Long Limited</strong> is registered at Companies House</p>
<p>Company number <strong>09882178</strong></p>
<hr/>
<div class="container">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Privacy Policy</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Terms &amp; Conditions</a>
    </li>
    <li class="nav-item" role="presentation">
     <a class="nav-link" id="pills-messages-tab" data-toggle="pill" href="#pills-messages" role="tab" aria-controls="pills-messages" aria-selected="false">Trademarks</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><app-privacy></app-privacy></div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><app-terms></app-terms></div>
    <div class="tab-pane fade" id="pills-messages" role="tabpanel" aria-labelledby="pills-messages-tab"><app-trademark></app-trademark></div>
  </div>
</div>
