<div class="container">
    <h1 class="display-4 mt-5">Contact</h1>

    <hr class="mt-5 mb-5"/>
    <p class="display-4">Email Us</p>
    <p>Email is the best way to reach us.</p>

    <div class="row">
        <div class="col">
            <div class="card bg-light text-black"
                 style="width: 18rem; background-size: 18rem; background-image: linear-gradient(to bottom, rgba(255,255,255,0.99) 0%,rgba(255,255,255,0.8) 100%), url(/assets/img/contact/info.jpg)">
                <div class="card-body">
                    <h5 class="card-title">Info</h5>
                    <p class="card-text">For general enquiries you can contact our friendly team at.</p>
                    <a href="https://mailhide.io/e/m2J6BlVj"
                       onclick="popup=window.open('https://mailhide.io/e/m2J6BlVj','mailhidepopup','width=580,height=635'); return false;">i......@solong.co.uk</a>
                </div>
            </div>
        </div>
        <div class="col">
        <div class="card bg-light text-black"
                 style="width: 18rem; background-size: 18rem; background-image: linear-gradient(to bottom, rgba(255,255,255,0.99) 0%,rgba(255,255,255,0.8) 100%), url(/assets/img/contact/support.jpg)">
                <div class="card-body">
                    <h5 class="card-title">Support</h5>
                    <p class="card-text">Our support team provides first class service.</p>
                    <a href="https://mailhide.io/e/UoArpgK6"
                       onclick="popup=window.open('https://mailhide.io/e/UoArpgK6','mailhidepopup','width=580,height=635'); return false;">s......@solong.co.uk</a>
                </div>
            </div>
        </div>
        <div class="col">

        <div class="card bg-light text-black"
                 style="width: 18rem; background-size: 18rem; background-image: linear-gradient(to bottom, rgba(255,255,255,0.99) 0%,rgba(255,255,255,0.8) 100%), url(/assets/img/contact/legal.jpg)">
                <div class="card-body">
                    <h5 class="card-title">Legal</h5>
                    <p class="card-text">For all legal matters including trademark and privacy</p>
                    <a href="https://mailhide.io/e/Pv0nsG2l"
                       onclick="popup=window.open('https://mailhide.io/e/Pv0nsG2l','mailhidepopup','width=580,height=635'); return false;">l......@solong.co.uk</a>
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-5 mb-5"/>

    <h1 class="display-4 mt-5">Twitter</h1>
    Unfortunately we're not on twitter right now.
    <hr class="mt-5 mb-5"/>

    <p class="display-4">Write to us</p>
    <p>We're a <strong>digital first development company</strong>. This means we don't waste money on fancy offices. We
        equip
        our developers with the best equipment to get the job done and visit our clients on site when necessary.</p>

    <p>If you do need to write to us, you can reach us at the following mailbox address.</p>

    <address>
        <strong>So Long Limited</strong><br/>
        130 Old Street<br/>
        London<br/>
        EC1V 9BD<br/>
        United Kingdom<br/>
        <abbr title="Phone">P:</abbr> (+44) 7894 66 80 61
    </address>
</div>
