<div class="container">
    <h1 class="display-4 mt-5">Contact</h1>

    <p>We're a <strong>digital first development company</strong>. This means we don't waste money on fancy offices. We
        equip
        our developers with the best equipment to get the job done and visit our clients on site only when necessary. This
        also means the fastest way to reach us is electronically.
    </p>
    <p>
        Written postal responses can take up to 28 days to process. Our email servers are operated in sustainable datacenters.
        By preferring email we can reduce our carbon footprint.</p>

    <p><em>Did you know:</em> On average 29g of CO&#8322; can be emitted from the process of posting a standard letter vs 4g CO&#8322;e (CO2 Equivalent) by email?</p>

    <hr class="mt-5 mb-5"/>
    <h3>Email Us</h3>
    <p>Email is the best way to reach us.</p>

    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-5 d-flex justify-content-center">
            <div class="card bg-light text-black"
                 style="max-width: 18rem; background-size: contain; background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.8) 100%), url(/assets/img/contact/info.jpg)">
                <div class="card-body">
                    <h5 class="card-title">Info</h5>
                    <p class="card-text">For general enquiries you can contact our friendly team</p>
                    <button type="button" class="btn btn-primary" (click)="this.getInfo()">{{this.info.address}}</button>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5  d-flex justify-content-center">
            <div class="card bg-light text-black"
                 style="max-width: 18rem; background-size: contain; background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.8) 100%), url(/assets/img/contact/support.jpg)">
                <div class="card-body">
                    <h5 class="card-title">Support</h5>
                    <p class="card-text">Our support team provides first class service</p>
                    <button type="button" class="btn btn-primary" (click)="this.getSupport()">{{this.support.address}}</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-5  d-flex justify-content-center">

            <div class="card bg-light text-black"
                 style="max-width: 18rem;background-size: contain; background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.8) 100%), url(/assets/img/contact/legal.jpg)">
                <div class="card-body">
                    <h5 class="card-title">Legal</h5>
                    <p class="card-text">For all legal matters including trademark and privacy</p>
                    <button type="button" class="btn btn-primary" (click)="this.getLegal()">{{this.legal.address}}</button>
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-5"/>

    <h3>Twitter</h3>
    Unfortunately we're not on twitter right now.
    <hr class="mt-5 mb-5"/>

    <h3>Write to us</h3>
    <p>The fastest way to talk to us is by email. In the unlikely even you need to write to us, you can reach us at the
        following mailbox address.</p>

    <address>
        <strong>So Long Limited</strong><br/>
        130 Old Street<br/>
        London<br/>
        EC1V 9BD<br/>
        United Kingdom<br/>
        <abbr title="Phone">P:</abbr> (+44) 7894 66 80 61
    </address>



</div>
