<h1 class="mt-5">Case Study: <small class="text-muted">HatF2</small></h1>

<p><strong>Summary: </strong>HatF2 is a digital asset search engine capable of asset discovery, capture, alerting, and post-capture analysis.
    An elegant user interface allows for rapid search whilst a resilient crawler works diligently to populate the dataset.</p>

<h2 class="mt-5">Background</h2>

<p>According to <a href="https://www.juniperresearch.com/press/press-releases/loot-boxes-and-skins-gambling">Juniper
    Research</a> the current
    Video Game loot box market is estimated to be worth $30 billion worldwide.</p>
<p>Some of the assets derived from loot boxes are high value items ($1000 - $30,000) or form part of a broader collectable set.</p>
<p>    With over
300 million items in existance as of 2016, searching for specific items is non-trivial;
Traditional venues on trade exchanges are often noisy due to imprecise listings and the lack of integrated execution
features, with trade servers dealing in low quality or worthless items.</p>
<p>HatF2 seeks to facilitate asset discovery
in a more precise manner by accurately capturing raw asset data and generating a rich searchable domain layer derived
    from this data lake.</p>

<h2 class="mt-5">Technical Brief</h2>

<p><strong>Summary:</strong> (a) To index a given digital asset universe, allowing authenticated search on attributes both known and unknown at the time of capture. (b) to
provide monitoring and alerting on detection of anomalous assets.</p>
<ul>
    <li>To discover and grow a set of digital assets stores</li>
    <li>To capture assets contained within each digital asset store</li>
    <li>To prioritize public facing digital asset stores</li>
    <li>To provide authenticated search functionality on all assets</li>
    <li>To provide monitoring and alerting for anomalous assets</li>
    <li>To allow search accross multiple attributes simultaneously</li>
    <li>To ensure search is performant at all times</li>
    <li>To provide high durability of raw data</li>
    <li>To provide insight into the administration of the service</li>
</ul>

<h2 class="mt-5">Technologies</h2>

<p>Java, Angular, MongoDB, AWS, Spring</p>

<!--
<h2 class="mt-5">Outcomes</h2>
-->
