<h1 class="display-4">Terms &amp; Conditions</h1>

<p class="lead">
  Last updated January 01, 2018
</p>

<p>So Long Limited takes all reasonable efforts to update the information contained on this web site.
  However, So Long Limited makes no representations, warranties or undertakings about any of the information, content or
  materials provided through this web site (including, without limitation, any as to quality, accuracy, completeness or
  reliability). </p>

<p>So Long Limited reserves the right to make changes and corrections at any time, without notice.</p>
<p>So Long
  Limited is not responsible for the content or use made of any other web site, including any web site referred to or
  any web site through which you may have gained access to this web site or to which you may gain access from this web
  site. Inclusion of any linked web site does not imply approval or endorsement of the linked web site by So Long
  Limited. So Long Limited does not accept any liability in connection with any such web sites or links.</p>

<p>No information
  contained on this web site constitutes or shall be deemed to constitute an invitation to invest in So Long
  Limited.</p>
<p>You are responsible for obeying all applicable copyright laws. We permit you to make copies of information on this
  web
  site as necessary incidental acts during your viewing of it.</p>
<p>The So Long Limited logo is a trademark of So Long
  Limited. You may not make use of this trademark without our prior written consent. You may not create links to this
  site (including links to any materials provided on this web site) without the express permission of So Long
  Limited.</p>
