<h1 class="mt-5">Case Studies</h1>
<p class="lead">Our case studies below showcase a sample of client work we have carried out. Each case provides
a summary of the original product proposal, an outline of the implementation, together with timelines.</p>
<p>
<div class="container text-center mt-5">
<div class="row">
  <div class="col-lg-4 mt-5">
    <img class="rounded-circle" src="/assets/img/schematf.png" alt="Generic placeholder image" width="140" height="140">
    <h2>Schema.TF</h2>
    <p>Schema.TF is a schema change tracker and alerting system. The service monitors and records changes to digital inventory assets and notifies interested parties of recent changes via Twitter.</p>
    <p><a class="btn btn-secondary" href="/case-studies/schematf" role="button">Read more »</a></p>
    <hr class="d-lg-none"/>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 mt-5">
    <img class="rounded-circle" src="assets/img/hatf2background.jpg" alt="Generic placeholder image" width="140" height="140">
    <h2>HatF2</h2>
    <p>HatF2 is a digital asset search engine capable of asset discovery, capture, alerting, and post-capture analysis. An elegant user interface allows for rapid search whilst a resilient crawler works diligently to populate the dataset.</p>
    <p><a class="btn btn-secondary" href="/case-studies/hatf2" role="button">Read more »</a></p>
    <hr class="d-lg-none"/>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 mt-5">
    <img class="rounded-circle border border-dark" src="assets/img/quoteme.png" alt="Generic placeholder image" width="140" height="140">
    <h2>QuoteMe</h2>
    <p>Quote Me is a social card trading platform where users collect and exchange collections of 'quotes' by celebrities and other famous historical figures. In app purchases provides for monetization and revenue generation.</p>
    <p><a class="btn btn-secondary" href="/case-studies/quoteme" role="button">Read more »</a></p>
    <hr class="d-lg-none"/>
  </div><!-- /.col-lg-4 -->
</div>
</div>
