<div class="jumbotron mt-5">
  <h1 class="display-4">Software Engineering Consultancy</h1>
  <p class="lead">So Long is a software development company providing software engineering and consultancy services.</p>
  <hr class="my-4">
  <p>We specialise in the development of expertly crafted cloud native java deployments, using robust methodologies to deliver services which are scalable and resilient.</p>
  <a class="btn btn-primary btn-lg" href="https://github.com/danielburrell" role="button">GitHub</a>
</div>
